{% extends 'myapp/base.html' %}
{% block content %}
<center><h2 style="margin-top: 70px;color: white; font-family: monospace">Find Bus</h2></center>
<div class="container">
    <form class="login-form" action="{% url 'findbus' %}" method="post">
        {% csrf_token %}
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
        <input  class="login-username" autofocus="true" required="true" placeholder="Source"  name='source'/>
  <input  class="login-username" autofocus="true" required="true" placeholder="Destination" name='destination' />
  <input type="date" class="login-password" required="true" placeholder="Password" name='date'/>
  <input type="submit" name="Login" value="Book tickets" class="login-submit" />
</form>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
</div>

{% endblock %}